body {
  letter-spacing: 0px;
  color: #000;
  font-family: "Courier";
  font-size: 16px;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
}

a:link {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
  text-decoration: underline;
}

a:active {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

code {
  font-size: 0.75em;
}
h1 {
  font-size: 1.5em;
  font-weight: 500;
}

h2 {
  font-size: 1.25em;
  font-weight: 500;
}

pre, table {
  margin: 0 auto;
  width: 75%;
}

#runner1 {
  font-size: 1.5em;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}

#runner1b {
  font-size: 1em;
  margin: 0px;
  margin-top: 0.5em;
  padding: 0px;
  text-transform: uppercase;
}

#blog {
  margin-top: 2em;
}
